body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

.header {
  text-align: center;
  padding: 15px;
  font-size: 22px;
  background: black;
}

.container {
  display: flex;
  height: 90vh;
}

.sidebar {
  width: 30%;
  overflow-y: auto;
  border-right: 1px solid #333;
  padding: 10px;
}

.player {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 95%;
  height: 90%;
  background: black;
}

.channel {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 5px 0;
  background: #1c1c1c;
  cursor: pointer;
}

.channel img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
